<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>

# Włącz nagłówki CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:3000"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE, PATCH"
    Header set Access-Control-Allow-Headers "*"

    # Ustaw Referrer-Policy
    Header set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
